
html,
body {
  height: 100%;
  margin: 50;
  font-family: 'Roboto', sans-serif;  
  background-color: #f8f9fa; 
  /* overflow-y: hidden; 
  overflow-x: hidden;  */
}

#my-div {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.container-fluid {
  padding-right: 15px; /* Adjust container padding */
  padding-left: 15px; /* Adjust container padding */
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
}

/* .row {
  margin-right: -15px;
  margin-left: -15px;
} */

.left-sidebar{
  flex: 1;
  padding: 100px;
  /* margin-left: 140px; */
}

.right-sidebar{
  flex: 1;
  padding: 100px;  
  /* margin-right: 40px; */
}
/* 
.headcount-section {
  padding: 15px;
} */

.totals {
  display: flex;
  width: 220px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-items: center;
  flex-direction: row; */
  /* width: 240px; */
}

.card {
  border-color: #BFBFBF;
  border-width: 3px; /* Adjust the thickness as needed */
  border-style: solid; /* Ensures the border is a solid line */
  border-width: thick;
}

.dashboard-header {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  /* padding-left: 25px; */
}

/* .dashboard-header h1 {
  font-size: 300px;
} */

h2 {
  font-size: 25px;
}

.totals img {
  max-width: 80px;
  /* width: 100%; */
  width: 50px;
}

.circle-headcount {
  /* margin: 5px 0; */
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: #0D0D0D;
}

.img-in-out {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.table {
  --bs-table-bg: rgb(231 146 127 / 30%) !important;
}
